@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding-top: 15%;
  background-color: #47bd9a;
}

.input-wrapper {
  width: 720px;
  max-width: 90vw;
  position: relative;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #334051c7;
  outline: none;
}

ul.suggestions {
  list-style: none;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  right: 0;
  top: 53px;
  border-radius: 5px;
  border: 1px solid #334051c7;
}

li {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #cfcfcf;
}

li:last-child {
  border: none;
}

li.selected {
  background-color: #334051c5;
  color: white;
}

span.highlight {
  background-color: #334051c5;
  color: white;
  padding: 0 4px;
  margin: 0 2px;
}

li.selected span.highlight {
  color: #334051c5;
  background-color: white;
}

.error {
  position: absolute;
  font-size: 10px;
  color: white;
  right: 0;
  top: -27px;
  background: #bf2929;
  padding: 4px 14px;
  border-radius: 11px;
  letter-spacing: 0.6px;
}
